[gcode_macro SENSORLESS_HOME_X]
gcode:
    {% set HOME_CUR = 0.760 %}
    {% set driver_config = printer.configfile.settings['tmc2209 stepper_x'] %}
    {% set RUN_CUR = driver_config.run_current %}
    # Set current for sensorless homing
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR}
    # Pause to ensure driver stall flag is clear
    G4 P2000
    # Home
    G28 X0
    # Move away
    G90
    G1 X5 F1200
    # Set current during print
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CUR}

[gcode_macro SENSORLESS_HOME_Y]
gcode:
    {% set HOME_CUR = 0.600 %}
    {% set driver_config = printer.configfile.settings['tmc2209 stepper_y'] %}
    {% set RUN_CUR = driver_config.run_current %}
    # Set current for sensorless homing
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR}
    # Pause to ensure driver stall flag is clear
    G4 P2000
    # Home
    G28 X0
    # Move away
    G90
    G1 X5 F1200
    # Set current during print
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CUR}

[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(70)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}
    # Start bed heating
    M140 S{BED_TEMP}
    # Use absolute coordinates
    G90
    # Reset the G-Code Z offset (adjust Z offset if needed)
    SET_GCODE_OFFSET Z=0.0
    # Wait for bed to reach temperature
    M190 S{BED_TEMP}
    # Home the printer
    G28
    # Tram the bed
    Z_TILT_ADJUST
    # BED_MESH_PROFILE LOAD=default       # Load default bed mesh
    # Move gantry up 10
    G1 Z10 F600
    # Set and wait for nozzle to reach temperature
    M109 S{EXTRUDER_TEMP}
    # reset extrusion distance  
    G92 E0
    # Activate skew correction
    # SKEW_PROFILE LOAD=my_skew_profile
    # End of Start macro

[gcode_macro END_PRINT]
gcode:
    M400         ; Wait for buffer to clear    
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Move nozzle away from print while retracting
    G91
    G1 X-2 Y-2 E-35 F300
    # Raise nozzle by 10mm
    G1 Z10 F3000
    # absolute moves
    G90
    # Move Y-carriage for part removal
    G1 X10 Y220 F3000
     # Lower bed 50 unless bed is too close to bottom of printer, then lower 5
    {% if printer.toolhead.axis_maximum.z - printer.toolhead.position.z > 50 %}
        G1 Z{printer.toolhead.position.z + 50}
    {% else %}
        G1 Z{printer.toolhead.axis_maximum.z - 5}
    {% endif %}
    # Disable steppers
    M84
